body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250, 250, 250);
    animation: displayAll 1s ease;
}

.no-task-message{
    text-align: center;
    font-weight: 500;
    color: grey;
}

.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgb(230, 230, 230);
}


.searchBox{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    overflow: hidden;
}

#searchInput{
    border: none;
    background-color: #f8f8fa;
    padding: 10px;
    outline: none;
    color: #555;
    width: 250px;
    font-weight: 500;
    max-width: 40vw;
}

#enterSearch{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f8f8fa;
    width: 10%;
    cursor: pointer;
}

#enterSearch img{
    opacity: 50%;
    transition: 0.3s;
}

#enterSearch img:hover{
    opacity: 70%;
}

.mainHeaderContent{
    width: 860px;
    padding: 0 20px;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: space-between;
}

.headerLogo{
    display: flex;
    align-items: center;
    transform: translateX(-32px);
    gap: 20px;
    cursor: pointer;
}

.mainHeader h1{
    font-weight: 700;
    font-size: 30px;
    color: #2153ff;
}

.mainContent{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 90px;
    align-items: center;
}

.addTask{
    width: 860px;
    box-sizing: border-box;
    padding: 0 20px;
    padding: 45px;
    background-color: white;
    box-shadow: 0 5px 32px rgb(228, 228, 228);
    max-width: 100%;
}

.addTask > h2{
    font-weight: 700;
    font-size: 25px;
    color: #001a5e;
}


.inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#newTask{
    width: 45%;
    box-sizing: border-box;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #f8f8fa;
}

#newPriority{
    width: 45%;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #f8f8fa;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#addNewTaskBtn{
    background-color: #2153ff;
    color: white;
    margin-top: 30px;
    border: none;
    padding: 20px;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
}


#addNewTaskBtn:hover{
    background-color: #4671ff;
}

.toDoSection{
    width: 860px;
    box-sizing: border-box;
    margin-top: 50px;
    max-width: 100%;
    padding: 45px;
    background-color: white;
    box-shadow: 0 5px 32px rgb(228, 228, 228);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoSection > h2{
    font-weight: 700;
    font-size: 25px;
    color: #001a5e;
}

#toDoList{
    margin-top: 30px;
    gap: 20px;
    width: 100%;
}

.toDo{
    background-color: aliceblue;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    box-sizing: border-box;
}

.priority{
    border-radius: 5px;
    width: 50px;
    height: 15px;
    background-color: gray;
}

.priorityAndDelete{
    display: flex;
    gap: 20px;
    align-items: center;
}

#deleteIcon{
    cursor: pointer;
    opacity: 70%;
    transition: 0.3s;
}

#deleteIcon:hover{
    opacity: 90%;
}

.rightTaskSide{
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover{
    background-color: white;
}

.deleteIcon{
    width: 20px;
    opacity: 50%;
    transition: 0.4s;
}

.deleteIcon:hover{
    opacity: 90%;
}

.hidden{
    display: none;
}



@media (max-width: 700px){

    .addTask{
        padding: 30px;
    }

    .mainContent{
        padding-top: 120px;
    }

    .form .inputs{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    #newTask{
        width: 100%;
    }

    #addNewTaskBtn{
        width: 100%;
    }

    #newPriority{
        width: 100%;
    }

    .mainHeaderContent{
        justify-content: space-around;
    }

    .headerLogo .title{
        display: none;
    }

    .toDoSection{
        padding: 30px;
    }
}

@keyframes displayAll {
    0%{
        opacity: 0;
        transform: translateX(100vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}